<launch>
    <!-- values passed by command line input -->
    <arg name="model" default="dd_robot6.urdf"/>
    <arg name="gui" default="False" />
    <!-- set these parameters on Parameter Server -->
    <param name="robot_description" textfile="$(find ros_robotics)/urdf/$(arg model)" />
    <param name="use_gui" value="$(arg gui)"/>
    <node pkg="rqt_reconfigure" type="rqt_reconfigure" name="rqt_reconfigure"/>
    <node pkg="rqt_robot_steering" type="rqt_robot_steering" name="rqt_robot_steering"/>
    <!--
    roslaunch turtlebot_teleop keyboard_teleop.launch
    rosrun teleop_twist_keyboard teleop_twist_keyboard.py
    roslaunch robotican_lizi lizi.launch gazebo:=true
    -->
    <!-- convert joint states to TF transforms for rviz, etc (we use odom.py instead) -->
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"
       respawn="false" output="screen">
    </node>
    
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find ros_robotics)/urdf.rviz" required="true" />
    <!-- (required = "true") if rviz dies, entire roslaunch will be killed -->
</launch>